<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
</head>
<body>
    <%- include('includes/header') %>
    
    <main>
        <%- body %>
    </main>
    
    <%- include('includes/footer') %>
    
    <!-- Scripts -->
    <script src="<%= basePath %>/js/main.js"></script>
    <script src="<%= basePath %>/js/navigation.js"></script>
    <script src="<%= basePath %>/js/parallax.js"></script>
</body>
</html>

